header {
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: right;
}

footer {
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

h3.saying {
    text-align: center;
    color: white;
	font-size: 20pt;
	font-style: italic;
	font-family: "Lobster", Helvetica, sans-serif;
}


h1.strokeme {
	font-size: 50pt;
    color: red;
    text-shadow:
       -1px 0 white, 
	   0 1px white, 
	   1px 0 white, 
	   0 -1px white;
}	

h1 {
    text-align: center;
    color: red;
	font-size: 30pt;
	font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

h2 {
	text-align: center;
    color: black;
	font-size: 26pt;
	font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

p {
	text-align: center;
    color: black;
	font-family: "Arial";
	font-size: 12pt;
	
}

p.left {
	text-align: left;
	padding: 50px;
	font-size: 16pt
}

p.footerLeft {
    text-align: left;
	color: red;
}

p.right {
    text-align: right;
	color: red;
}

html {
	background-color: red;
}

body {
	background-color: red;
	color: red;
}

img {
	display: block;
    margin: auto;
    /*width: 40%;*/
}

div {
	background-color: white;
	max-width:60%;
    margin: auto;
	border-style: solid;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul.menuItem li {
	background-color: white;
	float: none;
	
	padding: 20px;
	font-size: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
	list-style-type: none;
	color: black;
}

ul.menuDescription li {
	background-color: white;
	float: none;
	
	color: black;
	padding: 20px;
	font-size: 15px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	list-style-type: none;
}
