
header {
    color: white;
    clear: left;
    text-align: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 60%;
    margin: auto;
    font-size: 20px;
}


footer {
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

h3.saying {
    text-align: center;
    color: white;
	font-size: 20pt;
	font-style: italic;
	font-family: "Lobster", Helvetica, sans-serif;
}

h1.headers{
  color: black;
  text-align: center;
}

h1.strokeme {
	font-size: 50pt;
    color: red;
    text-shadow:
       -1px 0 white, 
	   0 1px white, 
	   1px 0 white, 
	   0 -1px white;
}	

h1 {
    text-align: center;
    color: red;
	font-size: 30pt;
	font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

h2 {
	text-align: center;
    color: black;
	font-size: 30pt;
	font-family: "Times New Roman";
}

p {
	text-align: center;
    color: black;
	font-family: "Arial";
	font-size: 12pt;
}

p.left {
	text-align: left;
	padding: 50px;
	font-size: 16pt
}

p.footerLeft {
    text-align: left;
	color: red;
}

p.right {
    text-align: right;
	color: red;
}

html {
	background-image: url("Background.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
	background-image: url("Background.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
	display: block;
    margin: auto;
    /*width: 40%;*/
}

div {
	background-color: white;
	max-width:60%;
    margin: auto;

}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	/*float: center;*/
}

li {
	float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
	/*text-align: center;*/
}

li a:hover {
    background-color: #111;
}

ul.menuItem li {
	background-color: white;
	float: none;
	
	padding: 20px;
	font-size: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
	list-style-type: none;
	color: black;
}

ul.menuDescription li {
	background-color: white;
	float: none;
	
	color: black;
	padding: 20px;
	font-size: 15px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	list-style-type: none;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: grey;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
<<<<<<< HEAD
}

.buttonCater {
  background-color: white; 
  color: black; 
  border: 2px solid red;
  font-size: 16px;
  
  border-radius: 12px;
}
.buttonCater:hover {
    background-color: red;
    color: white;
}

.button4Cater {
    float: left;
}

.log {
  background-color: darkgrey; 
  color: black; 
  border: 2px solid red;
  font-size: 16px;
}
.log:hover {
    background-color: red;
    color: white;
}

.logout {
    float: left;
}

.lo {
  background-color: darkgrey; 
  color: black; 
  border: 2px solid red;
  font-size: 16px;
}
.lo:hover {
    background-color: red;
    color: white;
}



.sub {
  background-color: white; 
  color: black; 
  border: 2px solid green;
  font-size: 16px;
  border-radius: 12px;
}
.sub:hover {
    background-color: green;
    color: black;
}

