
header {
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: right;
	margin: auto;
	
}

footer {
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

h1.strokeme {
	-webkit-text-stroke: 1px white;
	font-size: 50pt;
    color: red;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}	


h1 {
    text-align: center;
    color: red;
	font-size: 30pt;
	font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}



h2 {
	text-align: center;
    color: black;
	font-size: 26pt;
	font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

p {
	text-align: center;
    color: black;
	font-family: "Arial";
	font-size: 12pt;
	
}

p.left {
	text-align: left;
	padding: 50px;
	font-size: 16pt
}

p.footerLeft {
    text-align: left;
	color: red;
}

p.right {
    text-align: right;
	color: red;
}

html {
	background: linear-gradient(to right, red, black, red);
}

body {
	background: linear-gradient(to right, red, black, red);
	
	color: red;
}

img {
	display: block;
    margin: auto;
    /*width: 40%;*/
}

div {
	background-color: white;
	max-width:60%;
    margin: auto;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul.menuItem li {
	background-color: white;
	float: none;
	
	padding: 20px;
	font-size: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
	list-style-type: none;
	color: black;
}

ul.menuDescription li {
	background-color: white;
	float: none;
	
	color: black;
	padding: 20px;
	font-size: 15px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	list-style-type: none;
}

